<div class="sidebar" [class.collapsed]="!isSidebarOpen">
  <nav class="sidebar-nav">
    @for (item of sidebarItems; track item.id) {
      <a
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        class="sidebar-item"
        [title]="item.label"
      >
        @if (item.iconType === 'fa') {
          <i class="fas" [class]="'fa-' + item.icon"></i>
        } @else {
          <i class="bi" [class]="'bi-' + item.icon"></i>
        }
      </a>
    }
  </nav>
</div>
